<div class="container d-flex flex-column align-items-center mt-3 mx-auto">
  <div class="d-flex flex-column align-items-center" style="width: 50rem;">
    <div class="border border-success rounded-pill border-3 pb-2 d-flex flex-column align-items-center" style="width: 30rem;">
      <div class="card-body text-center d-flex flex-column align-items-center">
        <h1 class="card-title fs-2">Welcome!</h1>
        <br/>
        <div class="d-flex justify-content-between mb-0 pb-2 mt-2" style="width: 19rem;">
          <%= link_to 'Create an Event', new_event_path, class:"btn btn-success" %>
          <%= link_to 'Go To All Events', events_path, class:"btn btn-success" %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-end pt-0" style="width: 18rem;">
      <%= link_to 'Back', users_path, class: 'btn btn-secondary my-3' %>
      <%= link_to 'Edit User', edit_user_path(@user), class: 'btn btn-secondary my-3' %>
      <%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger my-3' %>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3" style="width: 65rem;">
  <!--======== User's attended events table ========-->
  <table class="table table-borderless border border-5 mx-auto" style="width: 30rem;">
    <thead>
      <tr class="bg-success">
        <th><h4 class="fs-2 my-0 text-center text-white fw-bolder">My Attended Events</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary text-center">
        <th><h5 class="fs-4 mt-1 mb-0 text-dark fw-bolder">Upcoming</h5></th>
      </tr>
      <% if current_user.attended_events.empty? %>
        <tr class="text-center">
          <td><p class="fs-5 text-dark">No events to show :(</p></td>
        </tr>
      <% else %> 
        <% current_user.attended_events.future.each do |event| %>
          <tr class="d-flex flex-column align-items-center text-center mt-2">    
            <td class="m-1 p-1">
              <div class="d-flex align-items-start justify-content-end">
                <h4 class="fs-3 fw-bold my-0 text-success">
                  <%= link_to event.description, event_path(event), class:"btn btn-outline-success fs-4 rounded-pill border-2 fw-bold text-decoration-none" %>
                </h4>
                <h6><span class="badge bg-primary"><%= badge(event) %></span></h6>
              </div>
            </td> <!-- helper method to check for future events -->
            <td class="m-0 p-1">
              <p class="my-0 fs-5"><i class="fas fa-map-marker-alt text-success"></i>&nbsp;&nbsp;<%= event.location %></p>
            </td> <!-- helper method to check for future events -->
            <td class="m-0 p-1">
              <p class="mt-0 fs-5"><i class="far fa-calendar-alt text-success"></i>&nbsp;&nbsp;
                <%= event.date.strftime("%B %d %Y, at %I:%M%p") %>
              </p>
            </td> <!-- helper method to check for future events -->      
          </tr>
        <% end %>
      <% end %>
      <tr class="table-secondary text-center">
        <th><h5 class="fs-4 mt-1 mb-0 text-dark fw-bolder">Previous</h5></th>
      </tr>
      <% if current_user.attended_events.empty? %>
        <tr class="d-flex flex-column align-items-center text-center">
          <td><p class="fs-5 text-dark">No events to show :(</p></td>
        </tr>
      <% else %> 
        <% current_user.attended_events.past.each do |event| %>
          <tr class="d-flex flex-column align-items-center text-center mt-2">
            <td class="m-1 p-1">
              <div class="d-flex align-items-start justify-content-end">
                <h4 class="fs-3 fw-bold my-0 text-success">
                  <%= link_to event.description, event_path(event), class:"btn btn-outline-secondary fs-4 rounded-pill border-2 fw-bold text-decoration-line-through" %>
                </h4>
                <h6><span class="badge bg-primary"><%= badge(event) %></span></h6>
              </div>
            </td> <!-- helper method to check for past events -->
            <td class="m-0 p-1">
              <p class="my-0 fs-5"><i class="fas fa-map-marker-alt text-success"></i>&nbsp;&nbsp<%= event.location %>
            </td> <!-- helper method to check for past events -->
            <td class="m-0 p-1">
              <p class="mt-0 fs-5"><i class="far fa-calendar-alt text-success"></i>&nbsp;&nbsp;<%= event.date.strftime("%B %d %Y, at %I:%M%p") %>
            </td> <!-- helper method to check for past events -->
          </tr>
        <% end %>
      <% end %>  
    </tbody>
  </table>
  <!--======== User's created events table ========-->
  <table class="table table-borderless border border-5 mx-auto" style="width: 30rem;">
    <thead>
      <tr class="bg-success">
        <th><h4 class="fs-2 my-0 text-center text-white fw-bolder">My Created Events</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary text-center">
        <th><h5 class="fs-4 mt-1 mb-0 text-dark fw-bolder">Upcoming</h5></th>
      </tr>
      <% if current_user.created_events.empty? %>
        <tr class="text-center">
          <td><p class="fs-5 text-dark">No events to show :(</p></td>
        </tr>
      <% else %>
        <% current_user.created_events.future.each do |event| %>
          <tr class="d-flex flex-column align-items-center text-center mt-2">    
            <td class="m-1 p-1">
              <h4 class="fs-3 fw-bold my-0 text-success">
                <%= link_to event.description, event_path(event), class:"btn btn-outline-success fs-4 rounded-pill border-2 fw-bold text-decoration-none" %>
              </h4>
            </td> <!-- helper method to check for future events -->
            <td class="m-0 p-1">
              <p class="my-0 fs-5"><i class="fas fa-map-marker-alt text-success"></i>&nbsp;&nbsp;<%= event.location %></p>
            </td> <!-- helper method to check for future events -->
            <td class="m-0 p-1">
              <p class="mt-0 fs-5"><i class="far fa-calendar-alt text-success"></i>&nbsp;&nbsp;
                <%= event.date.strftime("%B %d %Y, at %I:%M%p") %>
              </p>
            </td> <!-- helper method to check for future events -->      
          </tr>
        <% end %>
      <% end %>
      <tr class="table-secondary text-center">
        <th><h5 class="fs-4 mt-1 mb-0 text-dark fw-bolder">Previous</h5></th>
      </tr>
      <% if current_user.created_events.empty? %>
        <tr class="d-flex flex-column align-items-center text-center">
          <td><p class="fs-5 text-dark">No events to show :(</p></td>
        </tr>
      <% else %> 
        <% current_user.created_events.past.each do |event| %>
          <tr class="d-flex flex-column align-items-center text-center mt-2">
            <td class="m-1 p-1">
              <h4 class="fs-3 fw-bold my-0 text-success">
                <%= link_to event.description, event_path(event), class:"btn btn-outline-secondary fs-4 rounded-pill border-2 fw-bold text-decoration-line-through" %>
              </h4>
            </td> <!-- helper method to check for past events -->
            <td class="m-0 p-1">
              <p class="my-0 fs-5"><i class="fas fa-map-marker-alt text-success"></i>&nbsp;&nbsp<%= event.location %>
            </td> <!-- helper method to check for past events -->
            <td class="m-0 p-1">
              <p class="mt-0 fs-5"><i class="far fa-calendar-alt text-success"></i>&nbsp;&nbsp;<%= event.date.strftime("%B %d %Y, at %I:%M%p") %>
            </td> <!-- helper method to check for past events -->
          </tr>
        <% end %>
      <% end %>  
    </tbody>
  </table>
  </div>
</div>