<div class="container">
  <table class="table table-bordered mx-auto" style="width: 40rem;">
    <thead>
      <tr class="table-info">
        <th colspan="2" class="fs-2 text-center">Events</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary text-center">
        <th style="width: 20rem;" scope="col futu">Upcoming</th>
      </tr>    
      <% @events.each do |event| %>
        <tr class="text-center p-0 fs-4">
          <td class="text-wrap d-flex justify-content-center"><%= future(event) %>&nbsp;
            <h6 class="mt-1"><span class="badge bg-secondary"><%= badge_f(event) %></span></h6>&nbsp;&nbsp;
            <%= details_btn_future(event) %>
          </td>
        </tr>
      <% end %>
      <tr class="table-secondary text-center">
        <th style="width: 20rem;" scope="col pre">Previous</th>
      </tr>
      <% @events.each do |event| %>
        <tr class="text-center p-0 fs-4">
          <td class="text-wrap d-flex justify-content-center"><%= past(event) %>&nbsp;
            <h6 class="mt-1"><span class="badge bg-secondary"><%= badge_p(event) %></span></h6>&nbsp;&nbsp;
            <%= details_btn_past(event) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>