<div class="container mt-3 flex-column d-flex align-items-center">
  <div class="card border p-4 d-flex flex-column align-items-center" style="width: 50rem;">
    <div class="card-body text-center pb-5 my-2">
      <h2>Create an Event</h2>
      <%= form_with model: @event do |f| %>
        <div class="field">
          <% f.label :description %><br />
          <%= f.text_field :description, style:"width: 30rem;", placeholder:"Description" %>
        </div>
        <div class="field">
          <% f.label :date %><br />
          <%= f.datetime_select :date, style:"width: 30rem;" %>
        </div>
        <div class="field">
          <% f.label :location %><br />
          <%= f.text_field :location, style:"width: 17rem;", placeholder:"Location" %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Create!", class:"btn btn-success" %>
        </div>
      <% end %>
      <br/>
    </div>
  </div>
</div>