<div class="container my-3 flex-column d-flex align-items-center">
  <div class="card border p-4" style="width: 50rem;">
    <div class="card-body flex-column justify-content-center">
      <div class="d-flex justify-content-between">
        <p class="card-title fs-4"><span class="fw-bold">Host: </span><%= @event.creator.username %></p>
        <%= attend_btn_host %>
      </div>
      <div style="width: 33rem;">
        <p class="card-text flex-md-fill fs-5">
        <%= @event.description %><br/>
        <span class="fw-bold">When: </span><%= @event.date.strftime("%B - %d - %Y at %I:%M%p") %><br/>
        <span class="fw-bold">Location: </span><%= @event.location %></p>
      </div>
      <br/>
      <br/>
      <div class="card-body">
        <p class="fs-4">Attendees</p>
        <% @event.attendees.each do |attendee| %>
          <p class="card-text fs-5 mb-1"><%= attendee.username %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>