<div class="container d-flex justify-content-between">
  <div class="d-flex flex-column sticky-top">
    <div class="border border-success rounded-3 border-3 py-1 px-3 mb-2" style="width: 45rem;">
      <div class="card-body flex-column justify-content-center">
        <div class="d-flex justify-content-between">
          <h3 class="card-title text-success fw-bold"><%= @event.description %></h3>
          <div class="d-flex flex-column align-items-end">
            <%= attend_btn %> <!-- helper method to check if a user is already attending the event -->
            <%= unattend_btn %>
          </div>
        </div>
        <div style="width: 33rem;">
          <p class="card-text flex-md-fill fs-5">
          <span class="fw-bold">Creator: </span><%= @event.creator.username %><br/>
          <span class="fw-bold">When: </span><%= @event.date.strftime("%B %d %Y, at %I:%M%p") %><br/>
          <span class="fw-bold">Location: </span><%= @event.location %></p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-2" style="width: 20rem;">
      <%= link_to 'Back', events_path, class: 'btn btn-secondary my-3' %>
      <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-secondary my-3' %>
      <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger my-3' %>
    </div>
  </div>
  <table class="table table-borderless border border-5" style="width: 20rem;">
    <thead>
      <tr class="bg-success">
        <th><h4 class="text-center text-white fw-bolder mt-1 mb-0">Attendees</h4></th>
      </tr>
    </thead>
    <tbody>
      <%= attendings_show %>
    </tbody>
  </table>
</div>

