<div class="card mx-auto mb-3" style="width: 25rem;">
  <div class="card-body pb-5 mt-2">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% render "devise/shared/error_messages", resource: resource %>
      <br/>
      <div class="field">
        <% f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", style:"width: 20rem;", placeholder:"Name" %>
      </div>
      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style:"width: 20rem;", placeholder:"Email" %>
      </div>
      <br/>
      <div class="field">
        <% f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", style:"width: 20rem;", placeholder:"Password" %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <div class="field">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", style:"width: 20rem;", placeholder:"Password Confirmation" %>
      </div>
      <br/><br/>
      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-success" %>
      </div>
    <% end %>
    <br/>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  </div>
</div>
